  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <br>
        <li class="sidebar-brand">Click on the view later button to save items to view later</li>
        <hr>
        {{#each viewLater.items as |item|}}
          <li><img src= {{item.photo}}>{{item.content}}{{#link-to 'question' item.id}}View it here {{/link-to}} </li>
        {{/each}}
      </ul>
</div>
