footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'Bowlby One SC', cursive;
}
body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 60%;
  display: block;
  margin: auto;
  border-radius: 25px;
}

.button-bottom-pad {
  padding-bottom: 5%;
}

nav img {
  max-width: 7%;
}

.main-content {
  margin-top: 75px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hero-unit {
  background-image:url('https://www.goodfreephotos.com/albums/brazil/rio-de-janeiro/cityscape-and-landscape-view-of-rio-de-janeiro-brazil.jpg');
  background-size:cover;
  background-color: #EEEEEE;
  height:300px;
}
