footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'Bowlby One SC', cursive;
}
h2{
  font-family: 'Bowlby One SC', cursive;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 60%;
  display: block;
  margin: auto;
  border-radius: 25px;
}


.page-title{
  font-size: 3em;
}
.button-pad {
  padding-bottom: 5%;
  padding-top: 5%;
}

.main-content {
  margin-top: 75px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-unit h1 {
  color: #EEEEEE;
  font-size: 100px;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: .8em;
  margin-bottom: 0;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
}
.hero-unit h2{
  color: #EEEEEE;
  font-size: 75px;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: .2em;
  margin-bottom: 0;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
}

.hero-unit {
  background-image:url('https://www.goodfreephotos.com/albums/brazil/rio-de-janeiro/cityscape-and-landscape-view-of-rio-de-janeiro-brazil.jpg');
  background-size:cover;
  background-color: #EEEEEE;
  height:300px;
}

.big-text {
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
}

.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'FontAwesome';
  content: "\f128";
  float: right;
  color: #5cb85c;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #454444;
}

.question-row{
  margin-top: 20px;
}


/*side bar nav*/
#wrapper {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container {
  margin: 50px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background:  #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    /*padding-right: 10px;*/
    list-style: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
      padding-top: 100px;
      padding-left: 250px;
      margin-right:100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }


    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

}
