footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'Bowlby One SC', cursive;
}
body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 60%;
  display: block;
  margin: auto;
  border-radius: 25px;
}

.button-bottom-pad {
  padding-bottom: 5%;
}
