<div class="container">
  <header class="jumbotron">
    <h1>What's this? Brazil Edition</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
  <p>De nada - &copy;2016 Meaghan Jones</p>
  </footer>
</div>
