<h2>FAQ's</h2>
<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        This section has answers to all the questions that might come up when you are using the <em>What is it? </em> web app! If you cannot find an answer to your question,
        make sure to email <a href="mailto:meaghan.m.jones@gmail.com?Subject=Hello%20Meaghan" target="_top">Meaghan</a>.
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Do I have to have an account to ask or answer a question?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    At this time, all questions and answers can be entered without an account. In the future users will have to register before leaving comments.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What kind of pictures can I use to ask <em>What is it</em>?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    At the moment the picture must be a entered as a url. For example,<a href ="http://i2.wp.com/listverse.com/wp-content/uploads/2011/07/screen-shot-2011-07-08-at-8-13-22-am.jpg?resize=550%2C409">http://i2.wp.com/listverse.com/wp-content/uploads/2011/07/screen-shot-2011-07-08-at-8-13-22-am.jpg?resize=550%2C409</a> would be an example of an acceptable url.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Why did you make<em> What is it</em>?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    <em>What is it?</em> was made for a final project for <a href="http://www.epicodus.com/">Epicodus</a> classes on ember. Also, when I lived in Brazil many foreigners would post photos online (especially of bugs) asking other people to identify what they had found. It seemed like a good idea for a webapp!
                </div>
            </div>
        </div>
    </div>
</div>
